.about-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.about-me {
  box-shadow: 0.1em 0.1em 0.8em 0.1em rgb(169, 27, 96);
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40rem;
  padding: 2rem 2rem 0 2rem;
}
.about-me .description {
  display: flex;
  flex-direction: column;
}
.about-me .about-data {
  display: flex;
  justify-content: space-between;
}

.about-data .about-img {
  width: 18rem;
  height: 22rem;
  position: relative;
}
.about-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3em;
  right: 5em;
}
.about-data .about-details {
  width: 25rem;
  margin-top: 1.5rem;
}
