.p6 {
  background-color: purple;
  height: 4rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 5px gray;
}
.reach {
  height: 30rem;
  display: flex;
  flex-direction: column;
  /* border: 2px solid purple; */
}
.details {
  width: 70rem;
  /* border: 2px solid red; */
  display: flex;
  align-self: center;
  background-color: bisque;
  border-radius: 20px;
  padding: 2rem;
  height: 18rem;
  font-size: 1.2rem;
}
.form {
  width: 32.5%;
  /* border: 2px solid green; */
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.reach-links {
  width: 67.5%;
  /* border: 2px solid green; */
}
.input {
  border: none;
  border-bottom: 2px solid grey;
  background: transparent;
  outline: none;
  font-size: 1rem;
}
#contact-btn {
  background: transparent;
  border: none;
  font-family:cursive;
  font-size: 1.1rem;
  color: purple;
}
textarea {
  resize: none;
}
