footer {
  /* background-color: black; */
  height: 10rem;
}
footer section {
  display: flex;
  justify-content: space-around;
}
footer #copy-right {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}
#year {
  margin: 0px 0.2rem;
}
#contact,
#quick-links,
#social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}
footer p {
  color: white;
}
