footer {
  background-color: white;
}
footer section {
  display: flex;
  justify-content: space-around;
}
footer #copy-right {
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}
#year {
  margin: 0px 0.2rem;
}
#contact,
#quick-links,
#social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact h1,
#quick-links h1,
#social-links h1 {
  /* color: yellow; */
  color: #000080;
  /* color:#FF1493; */
}
a {
  text-decoration: none;
}
footer span,
footer a {
  color: #ff1493;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
footer span:hover,
footer a:hover {
  color: rgb(211, 195, 16);
  transform: translateY(-2px);
  filter: brightness(1.2);
}
footer p,
p > span {
  color: white;
}