header {
  padding: 0px 2rem;
  background-color: purple;
  height: 4.5rem;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul,
header .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header span img {
  width: 9rem;

  /* color: white; */
  /* font-family:cursive;
  font-size: 1.5rem; */
}
header ul li a,
header .links a {
  color: white;
}

header ul li a:hover,
header .links a:hover {
  color: green;
}
.pages {
  width: 30rem;
  font-size: 1.3rem;
}
.links {
  width: 10rem;
  font-size: 1.2rem;
}
