.logo {
  color: rgb(169, 27, 96);
  letter-spacing: 1px;
  font-size: 1.5rem;
}
header {
  padding: 0px 2rem;
  /* background-color: palevioletred; */
  /* background-color: #a91b60; */
  /* background-image: linear-gradient(
    169deg,
    rgb(169, 27, 96),
    rgba(0, 0, 0, 0.6)
  ); */
  /* background-image: linear-gradient(rgb(169, 27, 96), rgba(0, 0, 0, 0.6)); */
  background-color: white;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul,
header .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pages li a {
  color: rgb(169, 27, 96);
  /* color: #ff1493; */
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.pages li a:hover {
  color: rgba(0, 0, 0, 0.6);
  transform: translateY(-2px);
  filter: brightness(1.2);
}

.pages {
  width: 40rem;
  font-size: 1.3rem;
}
.pages li a:focus {
  color: black;
}
.contact {
  border: none;
  outline: none;
  /* background-color: rgb(86, 198, 86); */
  background-image: linear-gradient(to right, #ff1493, #ff69b4);
  /* background-image: linear-gradient(to right, #ff1493, #ff69b4); */
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 20px;
}
