.home-banner {
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../src/assets/D.jpg");
height: 80vh; */
  font-family: cursive;
}

.intro {
  display: flex;
  flex-direction: column;
  /* color: #000080; */
  /* color:#FF1493; */
  /* color: white; */
  margin-top: -8rem;
  justify-content: center;
}
.btns {
  display: flex;
  gap: 20px;
  margin-left: 7rem;
}
.btns button {
  border: none;
  outline: none;
  background-color: rgb(86, 198, 86);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 20px;
}
.intro h3 {
  font-size: 30px;
  margin-left: 5rem;
}
.intro h1 {
  margin-left: 7rem;

  font-size: 22px;
}
.intro p {
  margin-left: 7rem;

  font-size: 16px;
}
